# Auth Service Configuration
PORT=9001
AUTH_POSTGRES_URL_DEV=postgres://belong_user:belong_password@localhost:5432/belong?sslmode=disable
JWT_SECRET=chubsmanprodude
JWT_EXPIRES_IN=5h
DISABLE_AUTH=false
